@import '../variables';

.generic-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: block;
  background-color: rgba(0, 0, 0, 0.397);
  transition: opacity, .3s;
  opacity: 0;

  &.reveal {
    opacity: 1;
  }
}

.UI-modal-body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 101;
  display: none;
  justify-content: center;
  align-items: center;

  &.show {
    display: flex;
  }

  .inner-modal-wrapper {
    padding: 20px;
    background-color: #fff;
    transform: translateY(30px);
    opacity: 0;
    transition: all, .3s;

    &.reveal {
      transform: translateY(0);
      opacity: 1;
    }
  }
}