.dummyClasses {
  padding: 20px;
  background-color: antiquewhite;
  color: rgb(119, 106, 89);
}

.girlImg {
  display: block;
  padding: 5px;
  border: 1px solid rgba(139, 101, 16, 0.514);

  &:hover {
    box-shadow: 1px 1px 10px #333;
  }
}